html {
  background-color: #13132E;
  color: #E6E6E6;
  font-family: 'Source Sans Pro', sans-serif;
}

nav, aside, .facts, .skills, .examples{
  background-color: darkslategrey;
  border: 2px inset #13132E;
}

dt {
   font-size: 17px;
   padding-top: 10px;
 }

.contact {
  background-color: darkslategrey;
  border: 2px inset #13132E;
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
}
nav {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
}

footer {
  margin-top: 15px;
}

nav, aside, .facts, .skills, .examples {
  margin-top: 3%;
  padding: 20px 20px 20px 20px;
}

aside {
  margin-left: 5%;
}

pre, .formula {
  border: 3px double aqua;
  background-color: #202020;
  padding: 10px 10px 10px 10px;
}

code {
  font-size: 15px;
}

a {
  color: aliceblue;
}

nav a {
  padding-right:100px;
}

h1, h2 {
  text-align:center;
}

.asideText {
  top: 10px;
  position: sticky;
}

.rotated {
  transform-origin: 500px 50px;
  transform: rotate(180deg);
}