html {
  background-color: #13132E;
  color: #E6E6E6;
  font-family: 'Source Sans Pro', sans-serif;
}

nav, aside, .facts, .skills, .examples{
  background-color: darkslategrey;
  border: 2px inset #13132E;
}

dt {
   font-size: 17px;
   padding-top: 10px;
 }

.contact {
  background-color: darkslategrey;
  border: 2px inset #13132E;
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
}

nav {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
}

footer {
  margin-top: 15px;
}

nav, aside, .facts, .skills, .examples {
  margin-top: 3%;
  padding: 20px 20px 20px 20px;
}

aside {
  margin-left: 5%;
}

pre, .formula {
  border: 3px double aqua;
  background-color: #202020;
  padding: 10px 10px 10px 10px;
}

code {
  font-size: 15px;
}

a {
  color: aliceblue;
}

nav a {
  padding-right:100px;
}

h1, h2 {
  text-align:center;
}

.asideText {
  top: 10px;
  position: sticky;
}

.rotated {
  transform-origin: 500px 50px;
  transform: rotate(180deg);
}

#wind {
  width: 400px;
  height: 50px;
  text-align: center;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 100;
}

#windMain {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#windMain:target {
   display: block;
 }

#windBack:before {
  content: '';
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 99;
}

.gall{
  padding-top: 20px;
}

* {box-sizing: border-box;}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border-color: #E6E6E6;
  cursor: pointer;
  opacity: 1;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 150px;
  border-radius: 5px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  height: 900px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background: #13132E;
}

.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
  bottom: 30px;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 100px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
  margin-left: 90px;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.pole {
  height: 700px;
  background: #13132E;
}